* {
    color: white;
    margin: 0px;
}
body {
    display: flex;
    justify-content: flex-start;
}
body > div {
    display: inline-block;
    height: 100vh;
}
p {
    height: 50px;
    background-color: yellow;
    opacity: 0.5;
}
#tools {
    width: 50px;
    background-color: blue;
}
#persons {
    width: 100px;
    background-color: red;
}
button {
    width: 30px;
    height: 30px;
}