* {
    color: white;
    background-color: rgb(1, 1, 2);
}
body > span {
    background-color: rgb(1, 1, 2);
    display: flex;
    flex-direction: column;
    height: 100%;
}
#tools {
    width: 50px;
    background-color: blue;
}
#persons {
    width: 100px;
    background-color: red;
}
button {
    width: 30px;
    height: 30px;
}